<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="sourceFolder" value="E:\Test"/>
    <add key="outputFolder" value="E:\Edited"/>
    <add key="overwriteFileIfExists" value="yes"/>
    <add key="moniotorCreation" value="yes"/>
    <add key="monitorModification" value="yes"/>
    <add key="monitorRename" value="yes"/>
    <add key="logDetailMessages" value="yes"/>
    <add key="waitSecondsBeforeFileProcessing" value="1"/>
  </appSettings>
</configuration>
